# Legg inn connection string fra Neon her
DATABASE_URL=postgresql://neondb_owner:npg_A7cevMl9txpW@ep-sweet-mode-alc1hij4-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
